  <!-- Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-about wow fadeInUp">
                        <h3>Hakkımda</h3>
                        <p>
                           Sakarya Üniversitesi Bilgisayar Mühendisliği 4 yıllık lisans mezunuyum. Nodejs, Python, C# tecrübem var.
                        </p>
                        <p> Copright 2019 &copy; Fatih Can Keser.</p>
                    </div>
                    <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
                        <h3>İletişim</h3>
                        <p><i class="fas fa-map-marker-alt"></i>Kurtköy Pendik/İstanbul</p>
                        <p><i class="fas fa-phone"></i> Phone: 05538771196</p>
                        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">fatihcankeser16@gmail.com</a></p>
                    </div>
                    <div class="col-md-4 footer-links wow fadeInUp">
                        <div class="row">
                            <div class="col">
                                <h3>Linkler</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><a class="scroll-link" href="#top-content">Anasayfa</a></p>
                                <p><a href="#">Hakkımızda</a></p>
                                <p><a href="#">İletişim</a></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="#">Plans &amp; pricing</a></p>
                                <p><a href="#">Affiliates</a></p>
                                <p><a href="#">Terms</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a> 
                        <a href="#"><i class="fab fa-twitter"></i></a> 
                        <a href="#"><i class="fab fa-google-plus-g"></i></a> 
                        <a href="#"><i class="fab fa-instagram"></i></a> 
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>